<!-- employees.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>Employees</h2>

{{!-- Create a table --}}
<table id="employees-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <h2>Employees</h2>
        <tr>
            <th>Employee ID</th>
            <th>Pay Rate</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the idemployee, firstName, lastName, email, phone, and address, in order --}}
        {{#each data}}
        <tr data-value={{this.idEmployee}}>>            
            <td>{{this.idEmployee}}</td>
            <td>{{this.payRate}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.address}}</td>
            <td><button onclick="deleteEmployee({{this.idEmployee}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_employee.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Add New Employee</h2>
<p>To add a new person, please enter their information below and click 'Submit'!</p>
<div class="form-style">
<form id="add-employee-form-ajax">
    <label for="input-payRate">Pay Rate: </label>
    <input type="number" name="input-payRate" id="input-payRate" required>
    <br />
    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName" required>
    
    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName" required>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email" required>

    <label for="input-phone">Phone: </label>
    <input type="number" name="input-phone" id="input-phone" required>
    <br />
    <label for="input-address">Address: </label>
    <input type="text" name="input-address" id="input-address">

    <input type="submit">
</form>
</div>
<br />
<script src="./js/add_employee.js"></script>

<h2>Update An Employee</h2>
<div class="form-style">
<form id="update-employee-form-ajax">

    <label for="input-fullname">Full name: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select a Person</option>
        {{#each data}}
        <option value="{{this.idEmployee}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-payRate">Pay Rate: </label>
    <input type="number" name="input-PayRate" id="input-payRate-update" required>
    <br />
    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName-update" required>
    
    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName-update" required>

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email-update" required>

    <label for="input-phone">Phone: </label>
    <input type="number" name="input-phone" id="input-phone-update" required>
    <br />
    <label for="input-address">Address: </label>
    <input type="text" name="input-address" id="input-address-update" >
    <input type="submit">

</form>
</div>
<br />
<script src="./js/update_employee.js"></script>
