<!-- index.hbs -->
<nav class="navigation">
    <ul class='navigation'>
        <li> <a href="/">Home </a> </li>
        <li> <a href="/plants">Plants</a> </li>
        <li> <a href="/products">Products</a> </li>
        <li> <a href="/Sales">Sales</a> </li>
        <li> <a href="/invoicedetails">Invoice Details</a> </li>
        <li> <a href="/customers">Customers</a> </li>
        <li> <a href="/employees">Employees</a> </li>
    </ul>
</nav>
{{!-- Create a table --}}
<table id="plants-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <h2>Plants</h2>
        <tr>
            <th>Plant ID</th>
            <th>Plant Name</th>
            <th>Lighting</th>
            <th>Water</th>
            <th>season</th>
            <th>Is Toxic?</th>
            <th>Product ID</th>
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the idCustomer, firstName, lastName, email, phone, and address, in order --}}
        {{#each data}}
        <tr data-value={{this.idPlant}}>>            
            <td>{{this.idPlant}}</td>
            <td>{{this.plantName}}</td>
            <td>{{this.lighting}}</td>
            <td>{{this.water}}</td>
            <td>{{this.season}}</td>
            <td>{{this.isToxic}}</td>
            <td>{{this.idProduct}}</td>
            <td><button onclick="deletePlant({{this.idPlant}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_plant.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new plant, please enter their information below and click 'Submit'!</p>
<form id="add-plant-form-ajax">
    <label for="input-plantName">Plant Name: </label>
    <input type="text" name="input-plantName" id="input-plantName" required>
    
    <label for="input-lighting">Lighting Care: </label>
    <input type="text" name="input-lighting" id="input-lighting" required>

    <label for="input-water">Water Frequency: </label>
    <input type="text" name="input-water" id="input-water" required>

    <label for="input-season">Season: </label>
    <input type="text" name="input-season" id="input-season" required>

    <label for="input-isToxic">Is Toxic: </label>
    <input type="text" name="input-isToxic" id="input-isToxic" required>

    <input type="submit">
</form>
<script src="./js/add_plant.js"></script>

<h2>Updating A Plant Form</h2>
<form id="update-plant-form-ajax">

    <label for="input-plantName">Plant name: </label>
    <select name="input-plantName" id="mySelect">
        <option value="test">Select a Plant</option>
        {{#each data}}
        <option value="{{this.idPlant}}">{{this.plantName}}</option>
        {{/each}}
    </select>

    <label for="input-plantName">Plant Name: </label>
    <input type="text" name="input-plantName" id="input-plantName-update" required>
    
    <label for="input-lighting">Lighting Care: </label>
    <input type="text" name="input-lighting" id="input-lighting-update" required>

    <label for="input-water">Water Frequency: </label>
    <input type="text" name="input-water" id="input-water-update" required>

    <label for="input-season">Season: </label>
    <input type="text" name="input-season" id="input-season-update" required>

    <label for="input-isToxic">Is Toxic: </label>
    <input type="text" name="input-isToxic" id="input-isToxic-update" >
    <input type="submit">

</form>
<script src="./js/update_plant.js"></script>
