
<!-- plants.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>Plants</h2>
<div></div>

{{!-- Create a table --}}
<table id="plants-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <h2>Plants</h2>
        <tr>
            <th>Plant ID</th>
            <th>Plant Name</th>
            <th>Lighting</th>
            <th>Water</th>
            <th>Season</th>
            <th>Is Toxic?</th>
            <th>Delete</th>
        </tr>
    </thead>
    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the idCustomer, firstName, lastName, email, phone, and address, in order --}}
        {{#each data}}
        <tr data-value={{this.idPlant}}>            
            <td>{{this.idPlant}}</td>
            <td>{{this.plantName}}</td>
            <td>{{this.lighting}}</td>
            <td>{{this.water}}</td>
            <td>{{this.season}}</td>
            <td>{{this.isToxic}}</td>
            <td><button onclick="deletePlant({{this.idPlant}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_plant.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new plant, please enter their information below and click 'Submit'!</p>
<div class="form-style">
<form id="add-plant-form-ajax">

    <label for="input-pname">Name: </label>
    <select name="input-pname" id="mySelect">
        <option value="test">Select a Product</option>
        {{#each products}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    </select>
    
    <label for="input-lighting">Lighting Care: </label>
    <input type="text" name="input-lighting" id="input-lighting" required>

    <label for="input-water">Water Frequency: </label>
    <input type="text" name="input-water" id="input-water" required>

    <label for="input-season">Season: </label>
    <input type="text" name="input-season" id="input-season" required>

    <label for="input-isToxic">Is Toxic: </label>
    <select name="input-isToxic" id="input-isToxic" required>
        <option value="1">Toxic or Nontoxic?</option>
        <option value="1">Toxic</option>
        <option value="0">Nontoxic</option>
    <input type="submit">
</form>
</div>
<br />
<script src="./js/add_plant.js"></script>

<h2>Updating A Plant Form</h2>
<div class="form-style">
<form id="update-plant-form-ajax">

    <label for="input-pName">Plant name: </label>
    <select name="input-pName" id="mySelect-update">
        <option value="test">Select a Plant</option>
        {{#each data}}
        <option value="{{this.idPlant}}">{{this.plantName}}</option>
        {{/each}}
    </select>

    <label for="input-lighting">Lighting Care: </label>
    <input type="text" name="input-lighting" id="input-lighting-update" required>

    <label for="input-water">Water Frequency: </label>
    <input type="text" name="input-water" id="input-water-update" required>

    <label for="input-season">Season: </label>
    <input type="text" name="input-season" id="input-season-update" required>

    <label for="input-isToxic">Is Toxic: </label>
    <select name="input-isToxic" id="input-isToxic-update" required>
        <option value="1">Toxic or Nontoxic?</option>
        <option value="1">Toxic</option>
        <option value="0">Nontoxic</option>
    <br />
    <input type="submit">

</form>
</div>
<br />
<script src="./js/update_plant.js"></script>
