<!-- sales.hbs -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div></div>

{{!-- Create a table --}}
<table id="sales-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <h2>Sales</h2>
        <tr>
            <th>Sales ID</th>
            <th>Purchase Date</th>
            <th>Total Products Purchased</th>
            <th>Employee ID</th>
            <th>Customer ID</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the idemployee, firstName, lastName, email, phone, and address, in order --}}
        {{#each data}}
        <tr data-value={{this.idSale}}>            
            <td>{{this.idSale}}</td>
            <td>{{moment this.purchaseDate format="YYYY-MM-DD"}}</td>
            <td>{{this.totalProducts}}</td>
            <td>{{this.idEmployee}}</td>
            <td>{{this.idCustomer}}</td>
            <td><button onclick="deleteSale({{this.idSale}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_sale.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Add New Sale</h2>
<p>To add a new sale, please enter the information below and click 'Submit'!</p>
<div class="form-style">
<form id="add-sale-form-ajax">
    <label for="input-purchaseDate">Purchase Date: </label>
    <input type="date" name="input-purchaseDate" id="input-purchaseDate" required>
    <br />
    <label for="input-totalProducts">Total Number of Products Purchased: </label>
    <input type="number" name="input-totalProducts" id="input-totalProducts" required>
    <br />
    <label for="input-employee_name">Employee Name: </label>
    <select name="input-employee_name" id="mySelect-employee">
        <option value="test">Select an Employee: </option>
        {{#each employees}}
        <option value="{{this.idEmployee}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-customer_name">Customer Name: </label>
    <select name="input-customer_name" id="mySelect-customer">
        <option value="test">Select a Customer: </option>
        {{#each customers}}
        <option value="{{this.idCustomer}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>
    
    <input type="submit">
</form>
</div>
<br />
<script src="./js/add_sale.js"></script>

<h2>Update An Sale</h2>
<div class="form-style">
<form id="update-sale-form-ajax">

    <label for="input-idSale">Sale ID: </label>
    <select name="input-idSale" id="mySelect">
        <option value="test">Select a Sale</option>
        {{#each data}}
        <option value="{{this.idSale}}">{{this.idSale}}</option>
        {{/each}}
    </select>

    <label for="input-purchaseDate">Purchase Date: </label>
    <input type="date" name="input-purchaseDate" id="input-purchaseDate-update" required>
    <br />
    <label for="input-totalProducts">Total Products Purchased: </label>
    <input type="number" name="input-totalProducts" id="input-totalProducts-update" required>
    
    <label for="input-employee_name">Employee Name: </label>
    <select name="input-employee_name" id="mySelect-employee-update">
        <option value="test">Select an Employee: </option>
        {{#each employees}}
        <option value="{{this.idEmployee}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-customer_name">Customer Name: </label>
    <select name="input-customer_name" id="mySelect-customer-update">
        <option value="test">Select a Customer: </option>
        {{#each customers}}
        <option value="{{this.idCustomer}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>
</div>
<br />
<script src="./js/update_sale.js"></script>
